/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  letter-spacing: 0.1em;
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  padding: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: Lato, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

a {
  text-decoration: none;
  font-family: Lato;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

textarea {
  resize: none;
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.footer__ss-list, .footer__ss-link, .footer__ss-radius {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content {
  background-color: #d4d4d4;
}

@media screen and (min-width: 750px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

main {
  padding: 30px;
}

@media screen and (min-width: 750px) {
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.sidebar {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#191819), color-stop(88.1664%, #191819), to(rgba(25, 24, 25, 0)));
  background-image: linear-gradient(to top, #191819 0%, #191819 88.1664%, rgba(25, 24, 25, 0) 100%);
}

@media screen and (min-width: 750px) {
  .sidebar {
    width: 300px;
  }
}

@media screen and (min-width: 1000px) {
  .sidebar {
    width: 400px;
  }
}

.sidebar__photo {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.me {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
}

.me__name {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 9px;
  color: #b29271;
}

.me__profession {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #ffffff;
}

.contacts__element {
  width: 245px;
  text-align: start;
  margin: 0 auto;
}

.contacts__element:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  fill: #b29271;
}

.contacts__link {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.about-me {
  max-width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .about-me {
    text-align: start;
  }
}

.about-me__title {
  text-transform: uppercase;
  position: relative;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #b29271;
}

.about-me__title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -7px;
  width: 100%;
  height: 1px;
  background-color: #b29271;
}

.about-me__text {
  font-size: 14px;
  font-weight: 400;
  color: #787878;
}

.experience {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 750px) {
  .experience {
    width: calc(100%/2);
    text-align: start;
    padding-right: 30px;
    margin-bottom: 0px;
  }
}

.experience__title {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-bottom: 20px;
  color: #b29271;
}

.experience::after {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  width: 100%;
  height: 1px;
  background-color: #b29271;
}

.experience__list {
  position: relative;
}

.experience__list::after {
  content: "";
  display: none;
}

@media screen and (min-width: 750px) {
  .experience__list::after {
    display: block;
    position: absolute;
    top: 0;
    right: -30px;
    height: 100%;
    width: 1px;
    background-color: #b29271;
  }
}

.experience__element:not(:last-child) {
  margin-bottom: 25px;
}

.experience__year {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #b29271;
}

.experience__text {
  font-size: 14px;
  font-weight: 400;
  color: #787878;
}

.skills {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .skills {
    text-align: start;
    padding-left: 30px;
  }
}

.skills__title {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #b29271;
}

.skills::after {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #b29271;
}

.merits {
  margin-bottom: 30px;
}

.merits__element:not(:last-child) {
  margin-bottom: 15px;
}

.merits__text {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: #787878;
}

.languages__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 750px) {
  .languages__element {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.languages__element:not(:last-child) {
  margin-bottom: 10px;
}

.languages__text {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  margin-right: 10px;
  color: #787878;
}

.languages__progress {
  position: relative;
  width: 100px;
  height: 4px;
  background-color: #865a3e;
}

.languages__progress::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: #b29271;
}

.education {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .education {
    text-align: start;
    padding-left: 30px;
  }
}

.education__title {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #b29271;
}

.education::after {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #b29271;
}

.education__element:not(:last-child) {
  margin-bottom: 25px;
}

.education__year {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #b29271;
}

.education__place {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #3e3e3e;
}

.education__text {
  font-size: 14px;
  font-weight: 400;
  color: #787878;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #865a3e;
}

.footer__ss-list {
  height: 100%;
  width: 100%;
}

.footer__ss-element:not(:last-child) {
  margin-right: 10px;
}

.footer__ss-radius {
  width: 20px;
  height: 20px;
  background-color: #b29271;
  border-radius: 50%;
  margin-right: 5px;
}

.footer__ss-icon {
  width: 14px;
  height: 15px;
  fill: #865a3e;
}

.footer__ss-text {
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #fefefe;
}
/*# sourceMappingURL=main.css.map */