.content__lang{
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 20px;

    color: #4F3833;
}

.content__lang.is-open{
    background-color: #865a3e;
}

.lang__btn{
    width: 40px;
    height: 40px;
    border: none;

    color: #4F3833;
    background-color: #b9b9b9;

    transition: 250ms $timing-function;
}

.lang__btn.is-open{
    color: #ffffff;
    background-color: #865a3e;
}

.lang__btn:hover,
.lang__btn:focus{
    outline: none;

    color: #ffffff;
    background-color: #865a3e;
}

.langs{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    height: 1px;
    padding: 10px 0;

    transition: 250ms $timing-function;
}

.langs.is-open{
    height: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.lang{
    color: #ffffff;
}

.lang:not(:last-child){
    margin-bottom: 5px;
}